project:
  type: website
  output-dir: docs

website:
  title: "Let's Learn About Communications"
  navbar:
    right:
      - icon: github
        href: https://github.com/
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css